.header-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.65); /* semi-transparent peach */
    backdrop-filter: blur(6px);            /* frosted glass effect */
    /* This gives the "frosted" effect */
    border: 2.5px solid rgba(75, 203, 215, 0.74); /* subtle teal border */
    border-radius: 25px;
    padding: 1rem;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;

    width: 300px;
    animation: MoveUpDown 3.5s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }
}

.ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #4B2E2A;
}

.tagline {
    color: #7B6A68;
}

.nav-ctn {
    width: 350px;
    position: fixed;
    left: 0;
    top: 0;
}

.home-btn {
    margin-left: auto;
    margin-right: auto;
}

.btn-container {
    position: absolute;
    bottom: 20px;
}