@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.shelf-ctn {
    background: rgba(255, 255, 255, 0.65); 
    backdrop-filter: blur(6px);            
    border: var(--border, 2.5px solid rgba(75, 203, 215, 0.74)); /* subtle teal border */    
    color: var(--color, #4B2E2A);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    margin-top: 25px;
    border-radius: 8px;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100%;
    width: 80%;
    padding: 10px;
    box-sizing: border-box;

    transition: 
        max-height 600ms ease, 
        transform 500ms ease;
    will-change: transform;
    transform-origin: top;
}

.shelf-ctn.open {
    transform: scaleY(1);
}

.shelf-ctn.closed {
    transform: scaleY(0);
}

.nav-btns-ctn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shelf-btn-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shelf-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Silkscreen', sans-serif;

    margin-top: 25px;
    background: rgba(255, 255, 255, 0.65);
    border: none;

    max-width: 100%;
    padding: 15px;
    height: 35px;
    backdrop-filter: blur(6px); 
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 12px;

    margin-bottom: 25px;

    opacity: 0.75;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.shelf-btn:hover {
    opacity: 1.0;
}

.close-shelf-btn-ctn {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
}

.shelf-search-bar-ctn {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: -2rem;
}

.open-logo, .close-logo {
    font-size: 1.2rem;
    margin-right: 10px;
}

.anime-item {
    align-items: center;
    text-align: center;
    padding: 15px;
}

.anime-item:hover {
    animation: jump 0.5s ease-in-out;
    cursor: pointer;
}

@keyframes jump {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-15px);
    }
  }

.anime-cover {
    width: 100px;
    height: 110px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.anime-title {
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
}

.img {
    width: 150px;
    height: 150px;
}

.nav-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.45rem;
    color: var(--color, #4B2E2A);
    opacity: 0.80;
    transition: all 0.5s ease-in;
}

.nav-btn:hover {
    opacity: 1.0;
}

.content {
    color: var(--color, #7B6A68);
}

[data-theme='dark'] .shelf-ctn {
    --border: 2.5px solid #3a3d70;
    --color: #66667f;
}

[data-theme='dark'] .nav-btn {
    --color: #e5dfecd5;
}

[data-theme='dark'] .content {
    --color: #86868f;
}


