@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.collection-search-bar-ctn {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 60%; 
    margin: 0 auto;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: -50px;
    backdrop-filter: blur(6px); 
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 10px;
}

