.display-one-show-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 75%;
    gap: 20px; 
    margin: 20px; 

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.65); 
    backdrop-filter: blur(6px);            
    border: var(--border, 2.5px solid rgba(75, 203, 215, 0.74)); /* subtle teal border */    
    color: var(--color, #4B2E2A);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.action-buttons {
    padding: 10px;
    gap: 10px;
}

.btn {
    border-radius: 8px;
    width: 100px;
    /* background-color: var(--button-bg, #4BCBD7); */
    /* I like ^ color above */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.show-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-width: 80%;
}

.show-info {
    font-size: 12px;
}

[data-theme='dark'] .display-one-show-panel {
    --border: 2.5px solid #3a3d70;
    --color: #66667f;
}


