@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.edit-form {
    display: flex;
    font-family: "Silkscreen", sans-serif;
    flex-direction: column;
    text-align: center;
    font-size: 0.75rem;
    padding: 10px;
    gap: 15px;
}

.comments-section {
    max-height: 100px;
    border-radius: 12px;
}

.btn-ctn {
    display: flex;
}

.watch-status-select {
    font-family: "Silkscreen", sans-serif;
    border-radius: 12px;
}

.s-tier-check {
    transform: scale(1.3)
}

