.open-menu {
    width: 175px;
    /* This is just for testing to see how it'd look */
    border-radius: 12px;
    color: #4B2E2A;

    background: rgba(255, 255, 255, 0.65); /* semi-transparent peach */
    backdrop-filter: blur(6px);            /* frosted glass effect */
    /* This gives the "frosted" effect */
    border: 2.5px solid rgba(75, 203, 215, 0.74); /* subtle teal border */
    border-radius: 12px;
    padding: 0.25rem;
    /* Apply animation? TODO - Not important though */
}

.open-menu-options {
    list-style: none;
    padding: 0;
}

.qnav-item {
    margin-bottom: 30px;
}

a {
    color: #92726e;
    text-decoration-line: none;
    transition: all 0.3s ease-out;
}

a:hover {
    color: #4B2E2A;
}