@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.open-menu {
    width: 195px;
    /* This is just for testing to see how it'd look */
    border-radius: 12px;
    color: var(--color, #4B2E2A);

    background: rgba(255, 255, 255, 0.65); /* semi-transparent peach */
    backdrop-filter: blur(6px);            /* frosted glass effect */
    border: var(--border, 2.5px solid rgba(75, 203, 215, 0.74)); /* subtle teal border */
    border-radius: 12px;
    padding: 0.25rem;
}

.open-menu-options {
    list-style: none;
    padding: 0;
}

.qnav-item {
    margin-bottom: 30px;
}

.find-anime-btn {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-size: 0.99rem;
    color: var(--color,  #92726e);
    border: none;
    background: none;
    opacity: 0.85;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.find-anime-btn:hover {
    color: var(--color, #4B2E2A );
}

a {
    color: var(--color, #92726e);
    text-decoration-line: none;
    transition: all 0.3s ease-out;
}

a:hover {
    color: var(--color, #4B2E2A);
}

[data-theme='dark'] .open-menu {
    --border: 2.5px solid #3a3d70;
    --color: #66667f;
}

[data-theme='dark'] a, .find-anime-btn {
    --color: #86868f;
}

[data-theme='dark'] a:hover, .find-anime-btn:hover {
    --color: #66667f;
}