.home-btn {
    border-radius: 50px;
    border: none;
    font-family: "Silkscreen", sans-serif;
    cursor: pointer;    
    background: none;
    background-color: var(--background-color, #E89B56);
    max-width: 100%;
    max-height: 100%;
    opacity: 0.75;
    font-size: 0.75em;
    padding: 5px;
    transition: all 0.3s ease-out;
}

.home-logo {
    vertical-align: middle;
    margin-bottom: 2px;
}

.home-btn:hover {
    opacity: 1.0;
}

[data-theme = 'dark'] .home-btn {
    --background-color: #6c7ac7;
}