.home-btn {
    border-radius: 12px;
    border: none;
    font-family: "Silkscreen", sans-serif;
    cursor: pointer;    
    background-color: var(--background-color, #E89B56);
    width: 100px;
    height: 50px;
    opacity: 0.75;
    transition: all 0.3s ease-out;
}

.home-btn:hover {
    opacity: 1.0;
}

[data-theme = 'dark'] .home-btn {
    --background-color: #6c7ac7;
}