.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border: 1px solid black;
    width: 600px;
    height: 230px;
    
    background: rgba(255, 255, 255, 0.65); /* semi-transparent peach */
    backdrop-filter: blur(6px);            /* frosted glass effect */
    /* This gives the "frosted" effect */
    border: var(--border, 2.5px solid rgba(75, 203, 215, 0.74)); /* subtle teal border */
    border-radius: 25px;
    padding: 1rem;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;

    margin-left: auto;
    margin-right: auto;

    animation: MoveUpDown 3.5s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }
}

.stats-title {
    color: var(--color, #4B2E2A);
}

.stats-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* margin: 0; */
    padding: 0;
    gap: 20px;
    font-size: 1rem;
    color: var(--color, #7B6A68);
}

.stats-numeric {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 450px;
    padding: 0;
    font-size: 1.1rem;
    color: var(--color, #7B6A68);
}

.rate {
    display: flex;
    font-size: 1.1rem;
    color: var(--color, #7B6A68);
    justify-content: center;
}

.avg-rate {
    position: absolute;
    bottom: 10px;
/* https://stackoverflow.com/questions/62906503/how-can-i-force-an-element-to-sit-at-bottom-of-div-card */
}

[data-theme="dark"] .stats-container {
    --border: 2.5px solid #3a3d70;
}

[data-theme="dark"] .stats-title {
    --color: #66667f;
}

[data-theme="dark"] .stats-list, .stats-numeric, .rate {
    --color: #86868f;
}
