.nav-btns-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-tier-ctn {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.img {
    width: 150px;
    height: 150px;
}

.nav-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.45rem;
    color: var(--color, #4B2E2A);
    opacity: 0.80;
    transition: all 0.5s ease-in;
}

.nav-btn:hover {
    opacity: 1.0;
}

.content {
    font-weight: 100;
    color: var(--color, #7B6A68);
}

[data-theme='dark'] .nav-btn {
    --color: #e5dfecd5;
}

[data-theme='dark'] .content {
    --color: #86868f;
}
